.mx-auto {
	width: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.quantity-input {
	text-align: right;
	border: none;
	display: inline;
	font-family: inherit;
	font-size: inherit;
	padding: none;
	width: auto;
}

.tabelinha{
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabelinha-titulo{
	background-color: #527536;
	color: aliceblue;
	padding: 20px;
}

#cart-table {
	border: #527536 solid 2px;
	border-radius: 1%;
	width: 80%;
	max-width: 100%;
	margin-bottom: 1rem;
	caption-side: bottom;
	text-align: center;
}
.titulo{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: #527536;
    }
    
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagamento{
	display:flex;
	align-items: center;
	justify-content: center;
}