.mx-auto {
	width: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.quantity-input {
	text-align: center;
	border: none;
	width: 40px;
	background-color: rgb(237, 248, 238); 
}

.tabelinha {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabelinha-titulo {
	background-color: #527536;
	color: aliceblue;
	padding: 20px;
}

#cart-table {
	border: #527536 solid 2px;
	border-radius: 1%;
	width: 80%;
	max-width: 100%;
	margin-bottom: 1rem;
	caption-side: bottom;
	text-align: center;
}

.titulo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: #527536;
}
    
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagamento {
	display: flex;
	align-items: center;
	justify-content: center;
}

#a{
	padding: 10px;
}

.btn img {
    width: 20px;
    height: 20px;
}

#lixo{
	background-color: white;
	border: 2px solid #527536;
}

#lixo:hover{
	background-color: lemonchiffon;
}
