body {
  font-family: Arial, sans-serif;
  margin-top: 15px;
  padding: 0;
  box-sizing: border-box;
}

.mx-auto {
	width: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.quantity-input {
	text-align: right;
	border: none;
	display: inline;
	font-family: inherit;
	font-size: inherit;
	padding: none;
	width: auto;
}

.vl {
	border-left: 2px solid white;
	height: auto;
}

#cart-table {
	border: black solid 1px;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	border-collapse: collapse;
	caption-side: bottom;
	text-align: center;
}

.pagination {
    text-align: center;
    margin-top: 40px; 
    margin-bottom: 20px;
}

.pagination .next-page,
.pagination .previous-page, .btn {
    text-decoration: none;
    background-color: #527536;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
    margin: 5px; 
}

.pagination .next-page:hover,
.pagination .previous-page:hover, .btn:hover {
    background-color: #435c2e;
}

.verde {
  background-color: #527536;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.container {
  padding: 20px;
}

.titulo{
font-size: 40px;
display: flex;
justify-content: center;
color: #527536;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {   
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 5px;
  width: 20%;
  margin-bottom: 16px;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

.slideshow-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	max-width: 800px;
	position: relative;
	margin-top: 5%;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	transform: translateY(-50%);
}

.next {
	right: -80px;
	border-radius: 3px 0 0 3px;
}

.prev {
  left: -80px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}