body{
    background-color:floralwhite;
}


body, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    /* background-color: #479727dc ; */
    background-color: darkkhaki;
    padding: 4px 0;
    position: relative;
    top: 0;
    z-index: 1000;
}

.navbar{
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
}

nav .item {
    /* color: white; */
    color: rgb(43, 53, 25);
    margin: 0 20px;
    text-decoration: none;
    font-weight: bolder;
    line-height: 1.5;
    white-space: nowrap;
    flex-grow: 0; 
}

a.item:hover {
    color: rgb(240, 236, 190);
    background-color:darkolivegreen;
    padding: 9px;
    border-radius: 10px;
}

nav li {
    display: flex;
    align-items: center;
    flex-grow: 0; 
}

.navigation-list {
    padding-left: 20px;
    display: flex;
    justify-content: left;
}

.separador {
    border-left: 2px solid rgb(43, 53, 25);;
    height: auto;
    margin: 0 10px;
}

.cad-log {
    padding-left: 10%;
    margin-left: 0px;
}

.verde {
    /* background-color: #527536; */
    background-color: darkolivegreen;
    color: white;
    padding: 10px 0;
    font-family: Agbalumo;
    letter-spacing: .2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px;
    }
}

.login-button {
    background-color: #527536;
    line-height: 1.5;
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 12px;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    flex-grow: 0; 
    margin: 0 20px;
}

.login-button:hover {
    background-color:rgb(140, 189, 125);
    color: black;
    padding: 8px 18px;
    border: 2px solid darkolivegreen;
}

.pagination {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn {
    background-color: #527536;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    border: #435c2e;
}

.btn:hover {
    background-color: #435c2e;
    cursor: pointer;
}

.login{
    display: flex;
    justify-content: right;
}